<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>

<body class="main">
    <h1>This is my root page.</h1>
    <div>
        <p>Please Enter Your Name</p>
        <form class = "pure-form" method="POST" action="/">
            Name: <br>
            <input type="text" name="username"><br>
            Favorite Food: <br>
            <input type="text" name="userfood"> <br>
            <button type="submit" class="pure-button pure-button-primary" value="submit">Submit</button>
        </form>
    </div>
    <div>
        {% if name %}
            <p>Welcome to my site {{ name }}!</p>
            <p>Your Favorite Food is {{ food }}!</p>
        {% endif %}
    </div>
    
</body>
</html>